.content_Infor-img {
    width: 200px;
    height: 200px;
    background-color: gray;
    /* border-radius: 50%; */
    margin-left: 10%;
    margin-top: 5%;
    /* background-image: url(./components/images/linh.png); */
    background-size: cover;
    background-position: center;
    border: 5px solid #f67c22;
}

.content_Infor-overview {
    flex: 0 0 50%;
    /* background-color: gray; */
}

.content_Infor-details {
    flex: 0 0 35%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    color: #636e72;
    font-weight: bold;
    margin-top: 4%;
    padding-bottom: 5%;
}

ul li {
    list-style: none;
    line-height: 2;
}

.wrapper-footer {
    width: 100%;
    height: 50px;
    background-color: #172030;
    margin-top: 5.75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper-footer_license {
    flex: 0 0 30%;
    /* background-color: red; */
    color: white;
}

.wrapper-footer_license>a {
    text-decoration: none;
    color: gray;
}

.wrapper-footer_license>a:active {
    color: orange;
}

.wrapper-footer_socical {
    flex: 0 0 30%;
    /* background-color: green; */
    font-size: 2rem;
    text-align: center;
}

.wrapper-footer_socical a>i {
    margin-left: 5%;
    color: white !important;
    opacity: 0.5;
}

.wrapper-footer_socical a>i:hover {
    opacity: 1;
    animation: effect 0.7s ease;
}

@keyframes effect {
    0% {
        transform: translateY(-6px);
        /* transform: rotate(60deg); */
    }

    80% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0);
    }
}






















@media screen and (min-width: 1000px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 39%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 20%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-footer_socical a>.fa-github {
        margin-left: 200%;
    }

    .wrapper-content_Infor {
        width: 60%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 20%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1400px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 40%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 25%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-footer_socical a>.fa-github {
        /* margin-left: 500%; */
    }

    .wrapper-footer_socical a {
        color: white !important;
    }

    .wrapper-content_Infor {
        width: 50%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 25%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}