.content_Infor-img {
    width: 200px;
    height: 200px;
    background-color: gray;
    /* border-radius: 50%; */
    margin-left: 10%;
    margin-top: 5%;
    /* background-image: url(./components/images/linh.png); */
    background-size: cover;
    background-position: center;
    border: 5px solid #f67c22;
}

.content_Infor-overview {
    flex: 0 0 50%;
    /* background-color: gray; */
}

.content_Infor-details {
    flex: 0 0 35%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    color: #636e72;
    font-weight: bold;
    margin-top: 4%;
    padding-bottom: 5%;
}

ul li {
    list-style: none;
    line-height: 2;
}

.wrapper-footer {
    width: 100%;
    height: 50px;
    background-color: #172030;
    margin-top: 5.75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper-footer_license {
    flex: 0 0 30%;
    /* background-color: red; */
    color: white;
}

.wrapper-footer_license>a {
    text-decoration: none;
    color: gray;
}

.wrapper-footer_license>a:active {
    color: orange;
}

.wrapper-footer_socical {
    flex: 0 0 30%;
    /* background-color: green; */
    font-size: 2rem;
    text-align: center;
}

.wrapper-footer_socical a>i {
    margin-left: 5%;
    color: white !important;
    opacity: 0.5;
}

.wrapper-footer_socical a>i:hover {
    opacity: 1;
    animation: effect 0.7s ease;
}

@keyframes effect {
    0% {
        transform: translateY(-6px);
        /* transform: rotate(60deg); */
    }

    80% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (min-width: 320px) {
    .Path {
        position: absolute;
        top: 75%;
        left: 10%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 10%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 10%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .content_Infor-details {
        flex: 0 0 35%;
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        color: #636e72;
        font-weight: bold;
        margin-top: 4%;
        padding-bottom: 5%;
        padding-left: 3%;
    }

    .wrapper-footer {
        width: 100%;
        height: auto;
        background-color: #172030;
        margin-top: 5.75%;
        display: flex;
        justify-content: space-evenly;
        /* align-items: center; */
        flex-direction: column;
    }

    .wrapper-footer_license {
        flex: 0 0 30%;
        /* background-color: red; */
        color: white;
        order: 1;
        padding-bottom: 5%;
    }

    .wrapper-footer_socical {
        flex: 0 0 30%;
        /* background-color: green; */
        font-size: 2rem;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }

    .wrapper-footer_socical a {
        margin: 5% 30%;
    }

}

@media screen and (min-width: 350px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 12%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }
}

@media screen and (min-width: 371px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 14%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }
}

@media screen and (min-width: 381px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 15%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }
}

@media screen and (min-width: 391px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 16%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }
}

@media screen and (min-width: 400px) and (max-width:500px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 21%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 11%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 11%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (min-width: 423px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 22%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }
}

@media screen and (min-width: 486px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 24%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }
}

@media screen and (min-width: 506px) and (max-width:523px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 25%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 11.5%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 11.5%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-details {
        padding-left: 5%;
    }
}

@media screen and (min-width: 524px) and (max-width:540px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 28%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 11.5%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 11.5%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-details {
        padding-left: 5%;
    }
}

@media screen and (min-width: 540px) and (max-width:560px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 28%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 12%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 12%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-details {
        padding-left: 10%;
    }
}

@media screen and (min-width: 561px) and (max-width:580px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 29%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 12%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 12%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-details {
        padding-left: 10%;
    }
}

@media screen and (min-width: 581px) and (max-width:600px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 30%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 12.5%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 12.5%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-details {
        padding-left: 10%;
    }
}

@media screen and (min-width: 601px) and (max-width:620px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 30%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 12.25%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 12.25%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-details {
        padding-left: 10%;
    }
}

@media screen and (min-width: 621px) and (max-width:640px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 30%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 12%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 12%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-details {
        padding-left: 10%;
    }
}

@media screen and (min-width: 641px) and (max-width:660px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 32%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 12.5%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 12.5%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-details {
        padding-left: 10%;
    }
}

@media screen and (min-width: 661px) and (max-width:680px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 31%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 12.5%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 12.5%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-details {
        padding-left: 10%;
    }
}

@media screen and (min-width: 681px) and (max-width:700px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 32%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 12.5%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 12.5%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-details {
        padding-left: 10%;
    }
}

@media screen and (min-width: 701px) and (max-width:720px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 33%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 12.5%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 12.5%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-details {
        padding-left: 10%;
    }
}

@media screen and (min-width: 721px) and (max-width:740px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 34%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 12.5%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 12.5%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-details {
        padding-left: 10%;
    }
}

@media screen and (min-width: 741px) and (max-width:760px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 35%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 12.5%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 12.5%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-details {
        padding-left: 10%;
    }
}

@media screen and (min-width: 761px) and (max-width:780px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 36%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 10%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 10%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-details {
        flex: 0 0 35%;
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        color: #636e72;
        font-weight: bold;
        margin-top: 4%;
        padding-bottom: 5%;
        padding-left: 0%;
    }

    .wrapper-footer {
        width: 100%;
        height: auto;
        background-color: #172030;
        margin-top: 5.75%;
        display: flex;
        justify-content: space-evenly;
        /* align-items: center; */
        flex-direction: row;
    }

    .wrapper-footer_license {
        flex: 0 0 30%;
        /* background-color: red; */
        color: white;
        order: 0;
        padding-bottom: 0;
    }

    .wrapper-footer_socical {
        flex: 0 0 30%;
        /* background-color: green; */
        font-size: 2rem;
        text-align: center;
        /* display: flex; */
        justify-content: space-around;
    }

    /* 
    .wrapper-footer_socical a>i {
        margin: 0 0;
    } */
}

@media screen and (min-width: 781px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 37%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 10%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 10%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-details {
        flex: 0 0 35%;
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        color: #636e72;
        font-weight: bold;
        margin-top: 4%;
        padding-bottom: 5%;
        padding-left: 0%;
    }

    .wrapper-footer {
        width: 100%;
        height: auto;
        background-color: #172030;
        margin-top: 5.75%;
        display: flex;
        justify-content: space-evenly;
        /* align-items: center; */
        flex-direction: row;
    }

    .wrapper-footer_license {
        flex: 0 0 30%;
        /* background-color: red; */
        color: white;
        order: 0;
        padding-bottom: 0;
    }

    .wrapper-footer_socical {
        flex: 0 0 5% !important;
        /* background-color: green; */
        font-size: 2rem;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }

    .wrapper-footer_socical a {
        margin: 0%;
        color: white !important;
    }
}

@media screen and (min-width: 913px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 37%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 10%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-content_Infor {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 10%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content_Infor-details {
        flex: 0 0 35%;
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        color: #636e72;
        font-weight: bold;
        margin-top: 4%;
        padding-bottom: 5%;
        padding-left: 0%;
    }

    .wrapper-footer {
        width: 100%;
        height: auto;
        background-color: #172030;
        margin-top: 5.75%;
        display: flex;
        justify-content: space-evenly;
        /* align-items: center; */
        flex-direction: row;
    }

    .wrapper-footer_license {
        flex: 0 0 30%;
        /* background-color: red; */
        color: white;
        order: 0;
        padding-bottom: 0;
    }

    .wrapper-footer_socical {
        flex: 0 0 30%;
        /* background-color: green; */
        font-size: 2rem;
        /* text-align: center; */
        display: flex;
        justify-content: space-around;
    }

    .wrapper-footer_socical a {
        margin: 0;
        color: white !important;
    }
}

@media screen and (min-width: 1000px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 39%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 20%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-footer_socical a>.fa-github {
        margin-left: 200%;
    }

    .wrapper-content_Infor {
        width: 60%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 20%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1400px) {
    .content_Infor-img {
        width: 200px;
        height: 200px;
        background-color: gray;
        border-radius: 50%;
        margin-left: 40%;
        margin-top: 5%;
        /* background-image: url(./components/images/linh.png); */
        background-size: cover;
        background-position: center;
        border: 5px solid #f67c22;
    }

    .Path {
        position: absolute;
        top: 75%;
        left: 25%;
        color: #dfe6e9;
        font-family: "Mulish", sans-serif;
        cursor: pointer;
        display: block;
        /* position: fixed; */
    }

    .wrapper-footer_socical a>.fa-github {
        /* margin-left: 500%; */
    }

    .wrapper-footer_socical a {
        color: white !important;
    }

    .wrapper-content_Infor {
        width: 50%;
        background-color: #fff;
        margin: 0 auto;
        /* height: 300px; */
        border-radius: 5px;
        position: absolute;
        left: 25%;
        top: -4%;
        transition: linear 0.3s;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}